.department {
    --worker-size: 15rem;
    --worker-info-size: 20rem;

    @media (max-width: 1439px) and (min-width: 1201px) {
        --worker-size: 12rem;
    }

    @media (max-width: 768px) {
        --worker-size: 12.5rem;
    }

    .button-header {
        display: flex;
        justify-content: space-between;
        margin-right: auto;
        width: 100%;

        .dropdown-arrow {
            transition: transform 0.3s;
            width: 1.5rem;
            height: auto;
            margin-right: 65%;
            cursor: pointer;

            @media (max-width: 1024px) {
                margin-right: 0;
            }

            &.open {
                transform: rotate(-180deg);
            }
        }
    }

    .grid-workers {
        box-sizing: border-box;
        width: 100%;
        display: none;
        justify-items: center;
        row-gap: 100px;
        grid-template-columns: repeat(3, 1fr);
        padding: 100px 8%;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
        }

        &.visible {
            display: grid;
            column-gap: 5%;
            row-gap: 100px;

            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                padding: 40px 19%;
                gap: 30px;
            }
        }
    }
}
