:root {
    --font-size: 20px;
}

body {
    font-size: var(--font-size);
}

.navbar {
    box-sizing: border-box;
    background-color: var(--light-color);
    overflow: hidden;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    padding: 15px 5%;
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.navbar-logo + p {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 500;
    font-size: calc(1.4 * var(--font-size));
}

.navbar-menu {
    display: flex;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
}

.navbar-item {
    display: flex;
    align-items: center;
}

.navbar-link {
    display: block;
    color: var(--dark-color);
    text-align: left;
    text-decoration: none;
}

.dropdown {
    background-color: var(--light-color);
    list-style-type: none;
    max-width: 250px;
}

.dropdown-wrapper {
    padding-top: 45px;
    position: absolute;
    z-index: 1;
    top: 7%;
}

.navbar-item:hover .dropdown-wrapper {
    display: block;
}

.dropdown-link {
    color: var(--dark-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: calc(0.8 * var(--font-size));
}

.dropdown-arrow {
    margin-left: 5px;
    height: calc(0.4 * var(--font-size));
    width: auto;
    transition: transform 0.3s;
}

.navbar-item:hover .dropdown-arrow {
    transform: rotate(-180deg);
}
