.call-to-action {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
    width: 100%;
}

.call-to-action p {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2.134rem;
    margin-bottom: 50px;

}

.action-ring {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.65rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--dark-color)
}

.line {
    width: 100%;
}
