.user-reviews-container * {
    box-sizing: border-box;
}

.user-reviews-container {
    touch-action: pan-y;
}

.nameBlock h2 {
    font-size: 50px;
    font-weight: 600;
    padding: 100px;
    text-align: left;

    @media (max-width: 1024px) {
        padding: 50px 20px 35px;
        font-size: 45px;
    }

    @media (max-width: 640px) {
        font-size: 40px;
    }
}

.navigationBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 130px;

    @media (max-width: 1024px) {
        padding: 0px 50px 80px;
    }
}

.navButtonReview {
    padding: 10px;
    font-size: 100px;
    font-weight: bold;
    color: var(--primary-color);
    background: none;
    border: none;
    align-self: center;
    margin: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;

    @media (max-width: 640px) {
        padding: 0px;
        position: absolute;
    }
}

.show {
    opacity: 0.7;
    cursor: pointer;
}

.usersBlock {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    height: auto;

    @media (max-width: 1024px) {
        grid-template-columns: minmax(250px, 1fr);
    }
}

.btn {
    height: 94px;
    width: 94px;
}

.userReview {
    width: 100%;
    min-height: 249px;
    height: auto;
    background: var(--light-color);
    border-radius: 10px;
    border: 3px solid var(--primary-color);
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}

.userHeader {
    display: flex;
}

.userImage {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;

    
    @media  (max-width: 1280px){
        width: 70px;
        height: 70px;
        margin-right: 10px;
    }
}


.userContent {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 130px);

    @media (max-width: 1280px) {
        max-width: calc(100% - 80px);
    }
}

.userName {
    font-weight: 500;
    font-size: 25px;
    margin: 0px;
}

.userReviewText {
    font-weight: 500;
    font-size: 17px;
    margin-top: 25px;
    word-wrap: break-word;

}

@media (max-width: 640px) {

    .navButtonReview.prevButton {
        left: 25px;
    }

    .navButtonReview.nextButton {
        right: 25px;
    }
}
