.home-tasks {
    width: 1530px;
    height: 866px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8DB9FC;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .home-tasks h2 {
    align-self: flex-start;
    font-size: 60px;
    margin-bottom: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
  }
  
  .tasks-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    width: 80%;
  }
  
  .task {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 10px;
    box-sizing: border-box;
  }
  
  .task h3 {
    margin-bottom: 20px;
    font-size: 60px;
    align-self: flex-start;
    color: white;
    font-weight: 500;
  }
  
  .about-task {
    list-style-type: none;
    padding: 0;
    font-size: 25px; 
    color: black;
    font-weight: 500;
  }
  
  .about-task li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .about-task li::before {
    content: '✦';
    font-size: 50px; 
    color: white;
    margin-right: 14px;
  }
  
  button {
    padding: 10px 40px;
    border: 2px solid white;
    cursor: pointer;
    align-self: flex-start;
    background-color: transparent;
    color: white;
    font-size: 1.2rem; 
    border-radius: 2px; 
  }
  
  button:hover {
    background-color: white;
    color: #8DB9FC;
  }
  
  .vertical-line {
    width: 2px;
    background-color: white;
    margin: 0 20px;
    align-self: stretch;
  }
  