* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.home-tasks {
    width: 100%;
    min-height: 866px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    box-sizing: border-box;
}

.home-tasks h2 {
    align-self: flex-start;
    font-size: 60px;
    margin-bottom: 20px;
    padding-bottom: 100px;
    padding-left: 100px;
    color: var(--dark-color);
}

.tasks-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
}

.task {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 10px;
    box-sizing: border-box;
}

.task h3 {
    margin-bottom: 20px;
    font-size: 60px;
    align-self: flex-start;
    color: var(--light-color);
    font-weight: 500;
}

.about-task {
    list-style-type: none;
    padding: 0;
    font-size: 25px;
    color: var(--dark-color);
    font-weight: 500;
}

.about-task li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.about-task li::before {
    content: "✦";
    font-size: 50px;
    color: var(--light-color);
    margin-right: 14px;
}

.vertical-line {
    width: 2px;
    background-color: var(--light-color);
    margin: 0 20px;
    align-self: stretch;
}

.home-tasks button {
    border-color: var(--light-color) !important;
    color: var(--light-color) !important;
    padding: 10px 40px;
    cursor: pointer;
    align-self: flex-start;
    font-size: 1.2rem;
    border-radius: 2px;
}

.home-tasks button:hover {
    color: var(--primary-color) !important;
    background-color: var(--light-color);
}

/* Адаптивность */
@media (max-width: 1200px) {
    .home-tasks {
        min-height: 700px;
    }
    
    .home-tasks h2 {
        font-size: 40px;
        padding-left: 50px;
        padding-bottom: 80px;
        margin-bottom: 0px;
    }

    .tasks-container {
        width: 100%;
    }

    .task h3 {
        font-size: 50px;
    }

    .about-task {
        font-size: 20px;
    }

    .about-task li::before {
        font-size: 40px;
    }

    .home-tasks button {
        font-size: 1rem;
        padding: 8px 30px;
    }
}




@media (max-width: 810px) {
    
    .home-tasks {
        min-height: 400px;
    }
    
    .home-tasks h2 {
        font-size: 10px;
        padding-left: 40px;
        padding-bottom: 60px;
        margin-bottom: 0px;
    }

    .task h3 {
        font-size: 40px;
    }

    .about-task {
        font-size: 15px;
    }

    .about-task li::before {
        font-size: 30px;
    }

   

    .home-tasks button {
        font-size: 0.9rem;
        padding: 6px 20px;
    }

    .tasks-container {
        flex-direction: row;
        width: 100%;
        padding: 0px 60px;
    }

    .vertical-line {
        width: 2px;
        background-color: var(--light-color);
        align-self: stretch; /* Растянуть по высоте контейнера */
    }

    .task {
        width: 100%;
        flex: 1;
        margin: 0px;
    }
}



@media (max-width: 428px) {
    .home-tasks {
        min-height: 400px;
        padding: 0px;
    }


    .home-tasks h2 {
        font-size: 20px;
        padding-left: 20px;
        padding-bottom: 50px;
    }

    .task h3 {
        font-size: 18px;
    }

    .about-task {
        font-size: 9px;
    }

    .about-task li::before {
        font-size: 16px;
    }

    .home-tasks button {
        font-size: 0.8rem;
        padding: 4px 15px;
        margin-top: 20px;
    }

    .vertical-line {
        width: 2px;
        background-color: var(--light-color);
        align-self: stretch;
        margin: 0px;
    }

    .task {
        width: 100%;
        margin: 0px;
        padding: 0px 20px;
    }

    .tasks-container {
        padding: 0px 20px;
    }
}
