.contacts-page {
    box-sizing: border-box;
    width: 100%;
    margin: 0 6.942%;

    .contact-head {
        
        text-align: left;
        font-size: 2.5rem;
        width: 100%;
        box-sizing: border-box;

        .form-head {
            margin: 0;
            color: var(--primary-color);
            width: 100%;
        }

        @media (max-width: 1024px) {
            text-align: center;
        }
    }


    .contacts-blocks {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        box-sizing: border-box;

        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }

    .contact-p {
        text-align: left;
        font-size: 0.9rem;
        margin-top: 5%;

        @media (max-width: 1024px) {
            text-align: center;
        }
    }

    .contact-form {
        color: var(--dark-color) !important;
        margin: 5% 0 20%;

        input,
        textarea {
            background: var(--light-color) !important;
            border: 1px solid var(--dark-color) !important;
            color: var(--dark-color) !important;

            &::placeholder {
                color: var(--dark-color) !important;
            }
        }

        span {
            color: var(--dark-color) !important;
        }
    }
}
