.contact-head{
    margin-top: 100px;
    text-align: left;
    font-size: 50px;
    margin-left: 100px;

}

.contacts-page {
    padding: 20px;
    text-align: center;
}

.contacts-blocks {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    margin: 100px 100px 30px;
}

.form-head{
    color:#8DB9FC;
}
.contact-p{
    text-align: left;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 15px;
}
input,textarea{
    background: white !important;
    border:1px solid black !important;
    color:black;
}
input::placeholder, textarea::placeholder{
    color:black !important;
}
.contact-form{
    color: black !important;
    margin: 40px 100px 130px;
}
.contact-form span{
    color: black !important;
}