.grid-workers-element {
    text-align: center;
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: var(--worker-size);
    height: calc(var(--worker-size) + 10%);

    .image {
        position: relative;
        height: var(--worker-size);
        width: var(--worker-size);
        overflow: hidden;
        margin-bottom: 20px;
        
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
    p {
        font-size: 1.25rem;
        font-weight: 500;
    }
}

.white-block {
    background: transparent;
    width: var(--worker-size);
}
