.case-head {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.657rem;
    text-align: left;
    margin-bottom: 100px;
}

.case-image {
    width: 100%;
    border-radius: 2px;
}

.case-information {
    padding: 100px 6.942% 130px 6.942%;
}

.connect-link {
    margin: 0 5.5%;
}

@media (max-width: 768px) {
    .case-head {
        font-size: 2.5rem;
        line-height: 3.048rem;
        margin-bottom: 40px;
    }
}
