.case-head {
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.657rem;
    text-align: left;
    margin-bottom: 100px;
}

.case-image {
    width: 100%;
    border-radius: 2px;
}

.case-information {
    padding: 100px 6.942% 130px 6.942%;
}

.case-description {
    margin-top: 100px;
}

.case-description h2 {
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 2.133rem;
    margin-bottom: 60px;
}

.case-description p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.828rem;
    margin-bottom: 15px;

}

.project-details-image img {
    height: 37.3rem;
    width: 27.7rem;
    object-fit: cover;
    margin-right: 3%;
}

.info .mobile-image {
    display: none;
}

.project-details-image {
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.info p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.828rem;
    text-align: left;
}

.info .mobile-image {
    display: none;
}

@media (max-width: 768px) {
    .info .mobile-image {
        display: block;
        width: 100%;
        height: auto;
        margin: 30px 0;
    }

    .project-details-image .desktop-image {
        display: none;
    }
}
