.day-week {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 4px;
    width: 120px;
}

.current {
    background-color: #c5e1a5;
    font-weight: bold;
}

.day {
    font-size: 16px;
    margin-bottom: 4px;
}

.hours {
    font-size: 14px;
    color: #555;
}
