.text-block {
    font-family: Arial;

}


.text-block h2 {
    padding-top: 3%;
    padding-left: 3%;
    text-align: left;
    font-size: 70px;
}

.text-block p {
    padding-left: 3%;
    width: 70%;
    text-align: left;
    font-size: 30px;
}
