.home-contact {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
}

.home-contact h3 {
    padding: 50px;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    color: var(--dark-color);
}

.contact-link {
    font-size: 60px;
    font-weight: 600;
    padding: 10px 20px;
    color: var(--dark-color);
    cursor: pointer;
    align-self: center;
}

hr {
    border: 10px solid var(--primary-color);
    padding: 0px 300px;
    border-radius: 15px;
}

@media (max-width: 512px) {
    .contact-link {
        padding: 0px;
        font-size: 35px;
    }

    hr {
        padding: 0px 45vw;
    }
}
