.outlined-button {
    box-sizing: border-box;
    margin-left: auto;
    background-color: transparent;
    color: var(--dark-color);
    padding: 5px 15px;
    border: 2px solid var(--dark-color);
    border-radius: 2px;
    font-size: var(--font-size);
    font-weight: 400;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: var(--dark-color);
        border: 2px solid var(--dark-color);
    }
}
