* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.home-projects {
    width: 100%;
    background-color: var(--light-color);
}

.home-box {
    margin: 100px;
}

.home-projects h2 {
    font-size: 60px;
    margin-bottom: 50px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1.5fr 2fr; 

    gap: 20px; 
}

.project-large {
    grid-row: span 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
    padding-right: 86px;
}

.small-projects-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 20px;
    max-width: 740px;
}

.project-small {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    max-width: 360px;
}

.project-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

.project-content-main {
    text-align: left;
    max-width: 740px;
}

.project-content-main h3 {
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.48px;
    text-align: left;
    margin-bottom: 20px;
}

.project-content-main p {
    margin-bottom: 20px;
}

.projects-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.projects-list li {
    position: relative;
    padding-left: 20px;
}

.projects-list li::before {
    content: "-";
    position: absolute;
    left: 0;
    color: var(--dark-color);
}

.content-name {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--light-color);
}

.content-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--light-color);
    margin-bottom: auto;
}

.content-button {
    align-self: flex-start;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    color: var(--light-color);
    margin-top: 15px;
    border: none;
}

.content-button:hover {
    color: var(--secondary-color);
}

/* Адаптивность */
@media (max-width: 1200px) {
    .home-box {
        margin: 50px;
    }

    .home-projects h2 {
        font-size: 50px;
        margin-bottom: 40px;
    }

    .projects-grid {
        grid-template-columns: 1fr; 
    }

    .project-large {
        grid-row: span 1;
        grid-column: span 2;
    }

    .small-projects-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1024px) {
    .home-box {
        margin: 50px;
    }

    .home-projects h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .projects-grid {
        grid-template-columns: 1fr; 
    }

    .project-large {
        grid-row: span 1; 
    }

    .small-projects-wrapper {
        grid-template-columns: 1fr;
    }

    .project-small {
        width: 100%;
        height: auto;
    }

    .home-projects {
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .home-box {
        margin: 20px;
    }

    .home-projects h2 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .project-large h3,
    .project-small h3 {
        font-size: 18px;
    }

    .project-large p,
    .project-small p {
        font-size: 12px;
    }

    .content-button {
        font-size: 10px;
    }

    .projects-list {
        font-size: 12px;
    }

    .small-projects-wrapper {
        width: 100%;
        margin-left: 10px;
    }

    .projects-grid {
        width: 100%;
    }
}
