:root {
    --background-color: white;
    --primary-color: #8db9fc;
    --text-color: black;
    --content-text-color: white;
    --link-color: white;
    --link-hover-color: white;
    --link-hover-decoration: underline;
}

.home-projects {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    padding-bottom: 50px;
}

.home-box {
    margin: 100px;
}

.home-projects h2 {
    font-size: 60px;
    margin-bottom: 50px;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    width: 100%;
    max-width: 1530px;
    margin: 0 auto;
    box-sizing: border-box;
}

.project-large {
    grid-row: 1 / span 2;
    grid-column: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.project-small {
    background-color: var(--primary-color);
    padding: 20px;
    width: 320px;
    height: 160px;
}

.project-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

.project-content-main {
    text-align: left;
}

.project-content-main h3 {
    width: 500px;
    font-size: 25px;
    font-weight: 500;
    line-height: 30.48px;
    text-align: left;
    margin-bottom: 20px;
}

.project-content-main p {
    margin-bottom: 20px;
}

.projects-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.projects-list li {
    position: relative;
    padding-left: 20px;
}

.projects-list li::before {
    content: "-";
    position: absolute;
    left: 0;
    color: black;
}

.content-name {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
    color: var(--content-text-color);
}

.content-description {
    font-size: 16px;
    font-weight: 400;
    color: var(--content-text-color);
    margin-bottom: auto;
}

button {
    font-size: 12px;
    cursor: pointer;
    color: var(--link-color);
    margin-top: 15px;
    border: 0px solid var(--primary-color);
}

.content-link {
    font-size: 12px;
    color: var(--link-color);
    text-decoration: none;
    margin-top: 15px;
    border: 0px solid var(--primary-color);
}

.content-link:hover {
    text-decoration: var(--link-hover-decoration);
    color: var(--link-hover-color);
}
