.priceList {
    font-size: 40px;
    margin: 50px 0 40px 20px;
}

.priceGridContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 100px;
}

.priceGridContainer > div {
    background-color: var(--primary-color);
    flex-basis: 320px;
    color: var(--light-color);
    text-align: center;
    padding: 25px 10px 110px 10px;
    margin: 0 20px 35px 20px;
    border-radius: 5px;
    position: relative;
}

.priceGridContainer h2 {
    margin: 25px 0 40px 0;
    font-size: 30px;
    text-wrap: wrap;
}

.priceFeatures > div {
    text-align: left;
    position: relative;
    margin: 20px 0px 20px 80px;
    font-size: 20px;
}

.priceGridContainer button {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 35px;
    background-color: transparent;
    border: 2px solid var(--light-color);
    color: var(--light-color);
    width: 300px;
    font-size: 20px;
    height: 45px;
    margin: 0 auto;
}

.priceGridContainer a:visited,
.priceGridContainer a:link {
    color: var(--light-color);
    text-decoration: none;
}

.priceFeatures > div::before {
    content: "";
    background-image: url("@assets/star.svg");
    position: absolute;
    width: 36px;
    height: 36px;
    left: -56px;
    top: -6px;
}

@media only screen and (min-width: 768px) {
    .priceList {
        font-size: 60px;
        margin: 100px;
    }

    .priceGridContainer > div {
        flex-basis: 600px;
        font-size: 25px;
        margin: 0 20px 35px 20px;
    }

    .priceGridContainer h2 {
        font-size: 40px;
    }

    .priceGridContainer h2:first-child {
        min-height: 98px;
    }

    .priceGridContainer button {
        width: 230px;
        height: 50px;
    }
}
