.contacts-block {
    justify-content: space-around;
    text-align: center;
    padding: 1.104%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.contacts-block h2 {
    margin-top: 0;
}

.contacts-block p {
    margin: 4px 0;
}
.picture-image {
    width: 3.174%;
    height: 3.174%;
}

.data {
    margin-top: 5.38%!important;
}
.data a {
    color: var(--primary-color);
    text-decoration: none;
}

.name {
    margin-top: 1.035%;
    line-height: 2.3rem;
    font-weight: 500;
    font-size: 1.8rem;
    margin-bottom: 3.725%;
}
.text {
    width: 100%;
}
