.footer {
    font-size: 1rem;
    background-color: var(--tertiary-color);
    box-sizing: border-box;
    width: 100%;
    padding: 40px 6.942% 30px;

    @media (max-width: 768px) {
        font-size: 1.125rem;
        padding-bottom: 0;
    }

    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-left {
            display: flex;
            align-items: center;

            .footer-logo {
                width: 3.8rem;
                height: auto;
            }

            p {
                margin-left: 2.5%;
                font-family: "Noto Serif Gujarati", serif;
                font-weight: 400;
                font-size: 1.75rem;
                color: var(--light-color);
            }
        }

        .footer-right {
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .social-icon {
                width: 2rem;
                height: auto;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;

            .footer-left {
                margin-bottom: 40px;

                p {
                    font-size: 1.5625rem;
                }
            }

            .footer-right {
                justify-content: center;
                gap: 9%;

                .social-icon {
                    @media (max-width: 768px) {
                        width: 2.5rem;
                        height: auto;
                    }
                }
            }
        }
    }

    .footer-divider {
        height: 3px;
        background-color: var(--light-color);
        margin: 40px 0 30px;

        @media (max-width: 768px) {
            margin: 25px 0 40px;
        }
    }

    .footer-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .footer-column {
        &:nth-child(2) {
            margin-left: 4%;
        }

        &:nth-child(3) {
            margin-left: 2%;
        }

        &:nth-child(odd) {
            p:nth-child(1) {
                margin-bottom: 20px;
            }
        }

        p {
            font-weight: 300;
            color: var(--light-color);
            line-height: 1.219rem;
        }

        @media (max-width: 768px) {
            text-align: center;
            margin-bottom: 40px;

            p {
                line-height: 1.37125rem;
            }
        }
    }
}
