* {
    box-sizing: border-box;
}

.nameBlock h2 {
    font-size: 50px;
    font-weight: 600;
    padding: 100px;
}

.navigationBlock {
    display: flex;
    align-items: center;
    padding: 0px 100px 130px;
}

.navButton {
    padding: 10px;
    font-size: 100px;
    font-weight: bold;
    cursor: pointer;
    color: var(--primary-color);
    background: none;
    border: none;
    align-self: center;
    margin: 0px;
}

.usersBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.userReview {
    width: 100%;
    height: 249px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    border: 3px solid #8db9fc;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}

.userHeader {
    display: flex;
}

.userImage {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;
}

.userContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.userName {
    font-weight: 500;
    font-size: 25px;
    margin: 0px;
}

.userReviewText {
    font-size: 14px;
    margin-top: 25px;
}

@media (max-width: 512px) {
    .nameBlock h2 {
        padding: 50px 20px 35px;
        font-size: 40px;
    }

    .usersBlock {
        flex-direction: row;
        width: 100%;
        overflow: hidden;
    }

    .userReview {
        width: 100%;
        flex-shrink: 0;
    }

    .navigationBlock {
        padding: 0px 20px 100px;
        position: relative;
    }

    .navButton {
        padding: 0px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }

    .prevButton {
        left: 10px;
    }

    .nextButton {
        right: 10px;
    }

    .userReview {
        height: 440px;
    }
}

@media (min-width: 513px) {
    .usersBlock {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
        align-items: center;
        height: 528px;
    }
}
