.MainBlock {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #8DB9FC;
}

.CompanyName, .CompanyImage {
  flex: 1;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CompanyImage img {
  width: 100%; /* Растягивает изображение на всю ширину блока */
  height: 100%; /* Сохраняет соотношение сторон */
  object-fit: cover; /* Заполняет блок, возможно обрезая изображение */
  transform: scaleX(-1); /* Отражает изображение по горизонтали */
}
